
@font-face {
   font-family: "PT Sans", sans-serif;
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/ptsans-400.woff2);
   font-display: swap;
}
@font-face {
   font-family: "PT Sans", sans-serif;
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/ptsans-700.woff2);
   font-display: swap;
}
body {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: black;
    font-size: 30px;
    line-height: 36px;
    background-color: white;
  }
.page_header {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
.navigation_link {
    color: #000000;
    text-decoration: none;
  }

.navigation_button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
  }
.main_index {
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
}
.advantages_text {
    width: 1200px;
    height: 261px;
    padding: 69px, 0px, 69px, 0px;
}
.large_text {
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    vertical-align: top;
    text-align: center;
    color: #000000;

}
.small_text {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.advantages_item {
    width:  400px;
    height: 385px;
}
.advantages_title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.advantages_description {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.categor_1 {
    background-color: #82B3D3;
    color: #FFFFFF;
}
.categor_2 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
 }
 .categor_3 {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000;
 }
 .categor_2_2 {
    color: #333333;
 }
.sedona_city {
    padding-left: 400px;
}
.information_block {
    width: 1200px;
    height: 246px;
    padding: 64px, 0px, 64px, 0px;
}
.recommendation_item {
    width: 400px;
    height: 385px;
    padding: 80px, 85px, 80px, 85px;
    background-color: #FFFFFF;
}
.blue{
background-color: rgba(131, 179, 211, 0.12);
}

.recommendation_title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
.recommendation_description {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.search_hotel {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
}
.subscription {
    background-image: url(../images/Search_background.jpg);
    width: 1200px;
    height: 415px;
    padding: 96px, 258px, 104px, 258px;
}
.subscription_title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    }
.subscription_description {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    }
.subscription_button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
}
.page_footer {
    background-color: #FFFFFF;
    width: 1200px;
    height: 120px;
   }
.button_vc {
    background-image: url(../images/icons/vk.svg);
    width: 24px;
    height: 14px;
    background-repeat: no-repeat;
}
.button_tg {
    background-image: url(../images/icons/telegram.svg);
    width: 18px;
    height: 15px;
    background-repeat: no-repeat;
}
.button_ytb {
    background-image: url(../images/icons/youtube.svg);
    width: 18px;
    height: 15px;
    background-repeat: no-repeat;
}
.footer_number_phone {
    width: 331px;
    height: 40px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.footer_website_site {
    width: 115px;
    height: 33px;
}
/*Catalog*/
.inner {
    background-image: url(../images/filtr_backgrund.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #000000;
  }
.inner_header_title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
}
.breadcrumbs-item {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.catalog_filter_title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.catalog_filter_list {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.button {
    width: 191px;
    height: 36px;
    background-color: #82B3D3;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}
.reset {
    width: 191px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    border-color:  rgba(0, 0, 0, 0);
}
.results_title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.select_control {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;

}
.hotel_card_link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
   text-decoration: none;
 }
 .hotel_card_type {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
 }
.hotel_card_price {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.hotel_card_more_button {
    width: 140px;
    height: 36px;
    background-color: #756157;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

}
.hotel_card_like_button {
    width: 140px;
    height: 36px;
    background-color: #82B3D3;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.stars {
     width: 18px;
     height: 17px;
     font-family: "PT Sans", sans-serif;
     font-weight: 400;
     font-size: 18px;
     line-height: 17px;
 }

.hotel_card_rating_button {
    width: 140px;
    height: 37px;
    background-color: #F2F2F2;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.pagination_link {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}
.ellipsis {
    background-color: #FFFFFF;
    color: #000000;
}
.subscription_title_catalog {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}
.subscription_description_catalog {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;

}
